@import './reset';
//
button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}
//
:root {
  --color-primary: #3e6ff4;
  --color-secondary: #234ab5;
  --color-white: #fff;
  --color-black: #0d1730;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
}

// 레이아웃
.layout-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.layout-wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 1024px;

  &:not(:first-child) {
    padding-top: 5rem;
  }
}

// 마진
.mr-1 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 4rem;
}

.title {
  position: relative;
  margin-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color-primary);
  z-index: -1;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1rem;
    right: 0;
    height: 3px;
    width: 7rem;
    margin: 0 auto;
    background-color: var(--color-primary);
  }
}

// 헤더
header {
  padding: 1.4rem 0;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 03px rgba(57, 63, 72, 0.2);

  background-color: var(--color-white);

  .header__anchors {
    display: flex;

    .header__title {
      margin-right: auto;

      a {
        color: var(--color-primary);

        .name-strong {
          color: var(--color-black);
          font-size: 1.4rem;
          vertical-align: middle;
        }
      }
    }

    .nav__toggle {
      display: none;
    }

    .header__nav {
      .nav__list {
        display: flex;

        font-size: 1.2rem;
        font-weight: 500;

        .nav__item {
          margin-left: 1.5rem;
          font-weight: 300;
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }
}

// 메인
main {
  // margin: 1rem 0 0;

  // Home
  .home {
    // height: 100vh;
    padding-top: 9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // background-color: #eee;

    .home__profile {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: red;

      .home__intro {
        margin-bottom: 2rem;

        line-height: 4.5rem;
        font-size: 3rem;
        font-weight: 200;

        .name-strong {
          font-weight: 400;
        }
      }

      .home__channel {
        .resume-link {
          padding: 0.5rem 0.8rem;
          // border: 2px solid var(--color-secondary);
          border-radius: 10px;
          background-color: var(--color-primary);
          color: var(--color-white);
          font-weight: 500;
        }

        .channel-icon {
          // margin-right: 0.5rem;
          font-size: 1rem;
        }
      }
    }

    .home__photo {
      text-align: center;

      width: 400px;
      height: 400px;
      border: 2px solid #eee;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;

      background-color: var(--color-primary);
      .home__img {
        max-width: 80%;
      }
    }
  }

  // About
  .about {
    // margin-top: 2rem;
    // background-color: #555;

    .about__contents {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .about__img {
        max-width: 40%;
        border-radius: 10px;
      }

      .about-talk {
        padding: 0 3rem;
        font-size: 1.2rem;
        line-height: 2rem;
        word-break: keep-all;
      }
    }
  }

  // Skills
  .skills {
    font-family: 'Poppins', sans-serif;

    .skills__title {
      font-size: 2rem;
      font-weight: 600;
      color: #555;
    }

    .skills__list {
      display: flex;
      // flex: 3;
      flex-wrap: wrap;
      // 여기 위

      margin-bottom: 2rem;

      padding: 2rem 0;
      font-size: 1.3rem;
      font-weight: 600;

      .skills__item {
        display: flex;
        flex: 1;
        align-items: center;
        // 여기 위
        margin-right: 0.7rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 5px 0px;

        &:last-of-type {
          margin-right: 0;
        }

        .skills__icon {
          margin-right: 0.5rem;
          vertical-align: middle;
          font-size: 2rem;
          color: var(--color-secondary);
        }
      }
    }
  }

  // Projects
  .projects {
    .projects__list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;

      .projects__item {
        margin: 2px;
        flex: 1 1 45%;
        height: 300px;

        overflow: hidden;
        border-radius: 15px;

        .projects__link {
          width: 100%;

          .projects__img {
            width: 100%;
            height: 100%;
            // height: auto;
          }
        }
      }
    }
  }

  // Contact
  .contact {
    .contact__list {
      display: flex;
      // background-color: #eee;
      justify-content: center;
      gap: 1.5rem;

      .contact__item {
        display: flex;
        align-items: center;
        line-height: 50px;

        .contact__kakao {
          // line-height: 50px;
          display: flex;
          .contact__kakao-img {
            display: inline-block;
            width: 50px;
            line-height: 50px;
            // height: 50px;
            border-radius: 10px;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          }
        }

        .contact__tel {
          display: flex;

          i {
            // width: 50px;
            // height: 50px;
            display: inline-block;
            font-size: 2rem;
            line-height: 50px;
            // border-radius: 10px;
            // box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba($color: #eee, $alpha: 0.5);
            // background-color: #fff;
            // cursor: pointer;
            width: 50px;
            // height: 50px;
            border-radius: 10px;
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
          }
        }

        .contact__text {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 1rem;
          color: #999;
          margin-left: 1rem;
          // width: 100%;
          line-height: 50px;
          // background-color: red;

          // JS로
          display: inline-block;
          display: none;
        }

        &:hover {
          // background-color: red;
        }
      }
    }

    .contact__form-title {
      margin-top: 3.5rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .contact__form {
      // background-color: #eee;
      padding: 0 12rem;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      .form__label {
        margin: 0 0 5px 1rem;
        font-size: 12px;
        color: #666;
      }

      .form__mail,
      .form__comments {
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 10px;
        border: 2px solid rgba($color: #aaa, $alpha: 0.3);

        &::placeholder {
          font-family: 'Noto Sans KR', sans-serif;
          color: #aaa;
          // font-size: 0.8rem;
          letter-spacing: 2px;
        }

        &:focus {
          outline-color: #234ab5;
        }
      }
    }

    .form__submit-btn {
      margin: 1rem 0 3rem auto;
      padding: 1rem 3rem;
      color: #fff;
      font-family: inherit;
      font-weight: 600;
      letter-spacing: 3px;
      border: none;
      border-radius: 10px;
      background-color: var(--color-primary);
    }
  }
}

// 푸터
footer {
  padding: 3.5rem 0;
  width: 100%;
  color: #fff;
  background-color: var(--color-secondary);
  text-align: center;

  .footer__owner {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .footer__git {
    margin-right: 3px;
    font-weight: 900;
    color: #fff;
  }
}

@media screen and (max-width: 859px) {
  .title {
    font-size: 2rem;

    &::after {
      width: 5rem;
    }
  }

  main {
    .home {
      flex-direction: column;
      text-align: center;

      .home__photo {
        margin-top: 4rem;
        width: 300px;
        height: 300px;
      }
    }

    .about {
      .about__contents {
        .about-talk {
          padding: 0 2rem;
          font-size: 1rem;
        }
      }
    }

    .skills {
      .skills__list {
        gap: 1rem;
        .skills__item {
          margin: 0;
          flex: 1 0 45%;
        }
      }
    }

    .projects {
      .projects__list {
        padding: 1rem 5rem;
        flex-direction: column;
        gap: 2rem;
      }
    }

    .contact {
      .contact__form {
        padding: 0 8rem;
        // min-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .layout-wrapper {
    padding: 0 1rem;
  }

  header {
    padding: 1rem 0;
    .header__anchors {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .header__title {
        // position: relative;

        a {
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          letter-spacing: -1px;
          gap: 2px;
          .name-strong {
            font-size: 1rem;
          }
        }
      }

      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1.5rem;
        color: #444;
      }

      .header__nav {
        width: 100%;

        display: none;

        .nav__list {
          flex-direction: column;
          .nav__item {
            margin: 0 0 0.2rem 0;
            font-family: 'Poppins', sans-serif;
            font-size: 1.1rem;
            font-weight: 600;

            &:hover {
            }

            .nav__link {
              display: block;
              padding: 1rem;
            }
          }
        }
      }
    }
  }

  main {
    .home {
      .home__profile {
        .home__intro {
          font-size: 2.5rem;
        }

        .home__channel {
          font-size: 0.9rem;
          .resume-link {
            padding: 0.4rem 0.5rem;
          }
        }
      }
    }

    .about {
      .about__contents {
        flex-direction: column;
        gap: 2rem;

        .about__img {
          max-width: 70%;
        }

        .about-talk {
          font-size: 1rem;
          line-height: 2rem;
        }
      }
    }

    .skills {
      .skills__list {
        flex-direction: column;
        // flex: 1 1 auto;
      }
    }

    .projects {
      .projects__list {
        padding: 1rem 1rem;
      }
    }

    .contact {
      .contact__form {
        padding: 0 1rem;
      }
    }
  }
}
