@import './reset';

:root {
  --color-primary: #3e6ff4;
  --color-secondary: #3e6ff4;
  --color-white: #fff;
  --color-black: #0d1730;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

// 헤더
header {
  padding: 1.3rem;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 03px rgba(57, 63, 72, 0.2);

  // background-color: #eee;

  .header__anchors {
    margin: 0 auto;
    display: flex;

    .header__title {
      margin-right: auto;

      a {
        color: var(--color-primary);

        .name-strong {
          color: var(--color-black);
          font-size: 1.4rem;
          vertical-align: middle;
        }
      }
    }

    .nav {
      // float: right;
      .nav__list {
        display: flex;

        font-size: 1.2rem;
        font-weight: 500;

        .nav__item {
          margin-right: 1.5rem;
          font-weight: 300;
          font-family: 'Poppins', sans-serif;
        }
      }
    }
  }
}

// 메인
// Home
.home {
}

// 레이아웃
.wrapper {
  margin: 0 1rem;
  max-width: 1024px;
}
